@import "tailwindcss";
@import "./custom/theme.css";
@import "./custom/utility.css";
@import "./custom/components.css";

@custom-variant dark (&:where(.dark, .dark *));

@variant dark {
    --color-canvas: #0a0a0a;
    --color-surface: #171717;
    --color-muted: #262626;

    --color-base: #e5e5e5;
    --color-emphasis: #ffffff;
    --color-inverse: #ffffff;

    --color-primary: #ff8533;  
}