<div class="flex items-center justify-between pb-6 mb-6 border-b border-white/10">
   <h1 class="text-4xl sm:text-2xl md:text-3xl"><%= @title %></h1>

   <% if @path %>
      <%= link_to @path, class: 'btn-primary' do %>
         <i class="<%= icon %>"></i>
         <%= label %>
      <% end %>
   <% end %>
</div>