<% provide(:page_title, t('.title')) %>

<% count_charts = [
   { title: t('.charts.projects'), count: Project.count, icon: 'fa-project-diagram' },
   { title: t('.charts.skills'), count: Skill.count, icon: 'fa-code' },
   { title: t('.charts.inquiries'), count: Message.count, icon: 'fa-envelope' },
   { title: t('.charts.inquiries'), count: Ahoy::Visit.count, icon: 'fa-globe' }
] %>

<section class="space-y-8">
   <div id="count-charts" class="grid grid-cols-1 md:grid-cols-4 gap-4">
      <%= render partial: 'users/dashboard/partials/chart', collection: count_charts, as: :chart %>
   </div>

   <div id="graph-charts" class="grid grid-cols-1 lg:grid-cols-2 gap-4">
      <div class="flex flex-col justify-center glass-panel min-h-56 w-full rounded-3xl p-8">
         <%= turbo_frame_tag 'visits_over_time', src: users_dashboard_widgets_visits_over_time_path %>
      </div>

      <div class="flex flex-col justify-center glass-panel min-h-56 w-full rounded-3xl p-8">
         <%= turbo_frame_tag 'project_skill_distribution', src: users_dashboard_widgets_project_skill_distribution_path %>
      </div>
   </div>
</section>
