<div class="flex flex-col items-center justify-center gap-5 w-full">
   <i class="fas fa-tools text-6xl text-indigo-500 animate-pulse"></i>

   <h1 class="heading-1"><%= t('.title') %></h1>

   <p class="construction-text">
      <%= t('.description') %>
   </p>

   <%= link_to t('links.back_to_home'), root_path, class: 'btn-primary' %>
</div>