<div id="my-skills-page" class="flex flex-col gap-8 p-5">
   <div class="card">
      <h1 class="heading-1 mb-5"><%= t('.title') %></h1>
      <p class="subtitle mb-5"><%= t('.subtitle') %></p>
      <%= rc 'group/filters', model: Skill, filters: Skill.categories %>
   </div>

   <ul id="my-skills-list" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <%= render partial: 'home/partials/skill', collection: @skills, as: :skill %>
   </ul>
</div>