@layer components {
   .page-container {
      @apply overflow-hidden bg-linear-to-br from-slate-900 to-slate-800 min-h-screen perspective-distant;
   }

   .heading-1 {
      @apply text-4xl sm:text-2xl md:text-3xl font-bold bg-linear-to-br from-primary to-accent bg-clip-text text-transparent;
   }

   .heading-2 {
      @apply text-2xl sm:text-lg md:text-xl font-semibold bg-linear-to-br from-indigo-500 to-pink-500 bg-clip-text text-transparent;
   }

   .badge {
      @apply items-center gap-x-1.5 py-1.5 ps-3 pe-2 rounded-full text-xs font-medium text-slate-300 bg-indigo-500/20;
   }

   .avatar {
      @apply object-cover w-28 h-28 mb-4 border-4 border-indigo-500 rounded-full shadow-lg;
   }

   .page-section {
      @apply relative flex items-center justify-center w-full h-screen px-6 py-12 sm:px-8 sm:py-16 lg:px-12 overflow-hidden;
   }

   .panel {
      @apply flex flex-col-reverse items-center w-full max-w-5xl gap-8 p-6 text-white 
             border border-white/10 bg-gray-900/70 backdrop-blur-md rounded-3xl 
             shadow-2xl translate-z-12 md:flex-row md:gap-16 md:p-10 sm:p-8 animate-bounce-in-right;
   }

   .text-fluid-xl {
      @apply text-2xl md:text-3xl lg:text-4xl;
   }

   .text-fluid-lg {
      @apply text-lg md:text-xl lg:text-2xl;
   }

   .text-fluid-md {
      @apply md:text-base lg:text-lg;
   }

   .btn-primary {
      @apply text-center px-4 py-2.5 
             bg-linear-to-tr from-indigo-500 to-rose-400
             text-white no-underline rounded-4xl
             font-semibold text-lg border-none cursor-pointer
             shadow-lg shadow-indigo-500/40 relative overflow-hidden
             transition-all duration-500 hover:-translate-y-1.5 hover:shadow-indigo-500/60;
   }

   .btn-primary::before {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(
         90deg,
         transparent,
         rgba(255, 255, 255, 0.2),
         transparent
      );
      transform: translateX(-100%);
      transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      pointer-events: none;
   }

   .btn-primary:hover::before {
      transform: translateX(100%);
   }

   .btn-secondary {
      @apply text-center px-4 py-2.5
             bg-transparent border border-zinc-200
             text-white no-underline rounded-4xl font-semibold text-lg
             hover:bg-zinc-200 hover:text-slate-900 cursor-pointer hover:shadow-indigo-500/60;
   }

   .btn-rounded {
      @apply w-16 h-16 rounded-full shadow-lg shadow-indigo-500/40
           bg-linear-to-br from-indigo-500 to-rose-400 cursor-pointer
           flex items-center justify-center transition-all duration-300
           hover:-translate-y-1.5 hover:shadow-indigo-500/60;
   }

   .bubble {
      @apply absolute bg-linear-to-tr from-indigo-500 to-rose-400 rounded-full animate-float;
   }

   .scroll-thin {
      @apply overflow-y-auto [&::-webkit-scrollbar]:w-0.5
             [&::-webkit-scrollbar-track]:rounded-full
           [&::-webkit-scrollbar-track]:bg-indigo-500
             [&::-webkit-scrollbar-thumb]:rounded-full
           [&::-webkit-scrollbar-thumb]:bg-indigo-900;
   }

   /*
   * card
   */

   .card {
      @apply bg-gray-900/80 rounded-2xl shadow-2xl p-8 backdrop-blur-md border border-indigo-500;
   }
}
