<div class="text-center mb-8">
   <h1 class="heading-1"><%= t('links.confirm_your_email') %></h1>
</div>

<%= simple_form_for @user, url: user_confirmation_path, html: { method: :post } do |f| %>

   <%= f.input :email, value: @user.pending_reconfirmation? ? @user.unconfirmed_email : @user.email %>

   <%= f.button :submit, t('links.confirm_your_email') %>

<% end %>