<div class="carousel-slide shrink-0 w-full snap-start">
   <div class="w-full flex lg:flex-col flex-col-reverse justify-center items-center gap-6 sm:gap-8 lg:gap-10 transition-all p-4">
      <div class="w-full flex items-start lg:items-center justify-center">
         <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 sm:gap-8 lg:gap-14 max-w-6xl w-full items-start lg:items-center">

            <div class="pr-0 lg:pr-5">
               <h2 class="heading-1 mb-6"><%= skill.name %></h2>

               <div class="prose max-h-96 overflow-y-auto p-3 rounded scroll-thin">
                  <%= skill.description %>
               </div>
            </div>

            <div class="p-5 sm:p-6 lg:p-10">
               <%= render 'home/partials/skill_card', skill: skill %>
            </div>

         </div>
      </div>
   </div>
</div>