:root {
   /* Colors */
   --primary: #ff8533;
   --secondary: #1a1a1a;
   --accent: #FF5F1F;

   --canvas: #000000;
   --surface: #171717;
   --muted: #262626;
   --subtle: #fafafa;

   --content: #e5e5e5;
   --emphasis: #ffffff;
   --inverse: #ffffff;

   --dark: #1a1a2e;
   --light: #f0f0f0;

   /* Transitions */
   --transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

   /* Multi-select */
   --ts-bg: var(--surface);
   --ts-border: var(--muted);
   --ts-bg-hover: var(--muted);
   --ts-text: var(--light);
}

/*
* Color Picker Customization
*/

input[type="color"]::-webkit-color-swatch-wrapper {
   padding: 0;
}

input[type="color"]::-webkit-color-swatch {
   border: none;
   border-radius: 6px;
}

input[type="color"]::-moz-color-swatch {
   border: none;
   border-radius: 6px;
}

/*
 * Multi-Select Customization
 */

/* Wrapper */
.ts-wrapper {
   display: flex;
   align-items: center;

   background: var(--ts-bg);
   border: 1px solid var(--ts-border);
   border-radius: 6px;
}

/* Control */
.ts-control {
   background: var(--ts-bg);
   border: none;
   border-radius: 6px;
}

.ts-control input {
   color: var(--ts-text);
}

/* Dropdown */
.ts-dropdown {
   background: var(--ts-bg);
   border: 1px solid var(--ts-border);
   border-radius: 6px;
}

.ts-dropdown .option {
   padding: 8px;
   color: var(--light);
}

/* Active option */
.ts-dropdown-content .active {
   background: var(--ts-bg-hover);
   color: var(--light);
   border-radius: 6px;
}

/* Multi-select items */
.ts-wrapper.multi .ts-control > div {
   padding: 5px 6px;

   background: var(--primary);
   color: var(--light);
   border-radius: 6px;
}

/*
 * Default styling
 */

option {
   background: var(--ts-bg);
   color: var(--ts-text);
}

/* 
 * Animations
 */

.stagger-in {
   animation: stagger-reveal 0.8s cubic-bezier(0.16, 1, 0.3, 1) forwards;
   /* opacity: 0; */
}