<div class="menu-section pt-3.5 px-6 pb-1 text-slate-400 text-sm uppercase tracking-[1px] mt-3.5">
   <%= section[:name] %>
</div>

<ul>
   <% section[:items].each do |item| %>
      <li class="w-full text-left px-6 py-4 cursor-pointer transition relative flex items-center gap-4 hover:bg-indigo-500/20">
         <%= link_to item[:path],
                     data: (item[:method] ? { turbo_method: item[:method].to_sym } : {}),
                     class: "flex items-center gap-4 w-full" do %>

            <i class="<%= item[:icon] %> text-lg text-zinc-100 transition-all duration-100" aria-hidden="true"></i>
            <span class="text-zinc-100 text-lg font-normal"><%= item[:name] %></span>

         <% end %>
      </li>
   <% end %>
</ul>
